{% extends 'components/index.html' %}

{% block content %}

<body>
    <h1>
        Product Detail
    </h1>

<h1>
    {{ product.title }} 
</h1>
<p>
    {{ product.content }}
</p>  
<p>
    {{ product_created_at }}
</p>
    

<h1>
    Reviews
</h1>
    
{% for review in product.reviews.all %}
    <p>
        {{ review.title }}
    </p>

    <p>
        {{ review.created_at }}
    </p>

{% endfor %}

<form action="/products/{{ pk }}/create_view/" method="products">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Review</button>
</form>
 



{% endblock %}
