{% extends 'components/index.html' %} 

{% load static %}


{% block content %}
  
    
    
    
    
<body>
    <form action="" method="get">
        <input type="text" name="search" placeholder="Search" >
        <input type="submit" value="Search">
    </form>
    <h1>
        Welcome to 37-1 Nurzada's page
    </h1>
    
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            {% if product.image %}
                <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'empty.jpg' %}" class="card-img-top" alt="...">
                    
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.created_at }}</p>
            {% for review in product.reviews.all %}
                <a href="#" class="btn btn-primary">{{ review.title }}</a>
            {% endfor %}
                <a href="/products/{{ product.id }}/" class="btn btn-primary">View</a>
            </div>
        </div>
    {% endfor %}
    
<h1>
    Pages 
</h1>
    {% for page in pages %}
        <a href="?page={{ page }}" class="btn btn-secondary">{{ page }}</a>
    {% endfor %}


</body>
</html>




    <img src="{% static 'main_page.jpeg' %}" alt="">
{% endblock %}



<body>
    <h1>
        Product list
    </h1>
    {% for product in products %}
        <p>
            {{ product.title }}
        </p>
        <p>
            {{ product.content }}
        </p>
        <p>
            {{ product.rate }}
        </p>
        {{ product.created_at}}
        {{ product.updated_at }}
    {% endfor %}
</body>
</html>